{% extends 'base.html.twig' %}

{% block title %}Vallin Kevin Site
{% endblock %}

{% block body %}
	{% for album in albums %}
		<section>
			<img src="{{album.cover}}" alt="">
			<p> {{album.name}}</p>
			<p>{{album.releaseYear}}</p>
		</section>
	{% endfor %}
{% endblock %}
